<!doctype html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <meta name="description" content="Registro para los donadores de sangre.">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset=md-1">
            <div class="row">
                <div class="col-md-5 register-left animated fadeInLeft">
                    <img src="ugto.png">
                    <h3 class="mb-3">Donadores de Sangre</h3>
                </div>
                <div class="col-md-7 register-right">
                    <div class="title-form">
                        <h2>Información del donador</h2>
                        <form class="register-form" action="/register" method="POST">
                            <% if( typeof registerMsg != "undefined") { %>
                                <% if(registerMsg.length > 0) { %>
                                    <div class="alert alert-danger alert-dismissible fade show animated pulse" role="alert">
                                        <strong>Error:</strong> <%= registerMsg %>
                                    </div>
                                <% } %>
                            <% } %>
                            <div class="form-group" style="margin-top: 30px">
                                <span>Completa los siguientes campos:</span>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="nua" placeholder="NUA" maxlength="6"
                                       autocomplete="off" autofocus required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre(s)" name="first_name"
                                       autocomplete="off" required minlength=3>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Apellidos" name="last_name"
                                       autocomplete="off" required minlength=3>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Correo Electrónico" name="email"
                                       autocomplete="off" required>
                            </div>
                            <div class="form-group">
                                <select name="career" class="form-control">
                                    <option value="0" selected>Selecciona una licenciatura...</option>
                                    <option value="Artes digitales">Artes Digitales</option>
                                    <option value="Gestión empresarial">Gestión Empresarial</option>
                                    <option value="Ingeniería en comunicaciones y electrónica">Ingeniería en
                                        Comunicaciones y Electrónica
                                    </option>
                                    <option value="Ingeniería eléctrica">Ingeniería Eléctrica</option>
                                    <option value="Ingeniería en mecatrónica">Ingeniería en Mecatrónica</option>
                                    <option value="Ingeniería mecánica">Ingeniería Mecánica</option>
                                    <option value="Ingeniería en sistemas computacionales">Ingeniería en Sistemas
                                        Computacionales
                                    </option>
                                    <option value="Doctorado/Maestría">Maestría / Doctorado</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>
                            <div class="form-group" style="margin-top: 30px">
                                <span>Agendar cita:</span>
                            </div>
                            <div class="form-group">
                                <select name="day" class="day form-control" id="day">
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="hour" class="hour form-control" disabled style="visibility: hidden;">
                                    <option value="0">Selecciona un día.</option>
                                </select>
                            </div>
                            <div class="form-group" style="text-align: center">
                                <button type="submit" value=" Send" class="btn btn-primary">Registrarse</button>
                            </div>
                            <br>
                            <br>
                            <p class="centerText" style="font-size: 20px;"><b>Desarrolladores</b></p>
                            <div class="centerText">
                                <a href="https://www.facebook.com/oscar.lolero" target="_blank">Oscar Montes Camberos</a>
                                <br>
                                <a href="https://www.facebook.com/SoyJorgeRazo" target="_blank">Jorge Octavio Prieto Razo</a>
                                <br>
                                <a href="https://www.facebook.com/JacquesPa" target="_blank">Diego Padilla Quijas</a>
                                <br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios = window.axios;
    const daySelect = document.getElementsByClassName('day')[0];
    const hourSelect = document.getElementsByClassName('hour')[0];
    //Load days
    window.onload = async () => {
        daySelect.innerHTML = '<option value="0">Cargando días...</option>';
        const response = await axios.get(`${window.origin}/days`);
        daySelect.innerHTML = '<option value="0">Seleccione un día...</option>';
        Object.entries(response.data).forEach(day => {
            daySelect.insertAdjacentHTML('beforeend', `<option value="${day[0]}">${day[0]}</option>`)
        });
    }
    //Load hours
    daySelect.addEventListener("change", async () => {
        if (daySelect.value !== '0') {
            hourSelect.style.visibility = "visible";
            hourSelect.innerHTML = '<option value="0">Cargando horarios...</option>';
            const response = await axios.get(`${window.origin}/days`);
            hourSelect.innerHTML = '<option value="0">Seleccione un horario...</option>';
            Object.entries(response.data)[daySelect.selectedIndex - 1][1].forEach(hour => {
                hourSelect.insertAdjacentHTML('beforeend', `<option value="${hour}">${hour}</option>`)
            });
            hourSelect.disabled = false;
        } else {
            hourSelect.style.visibility = "hidden";
            hourSelect.disabled = true;
        }
    });
</script>
</html>
