<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <style>
        .register-form * {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<form class="register-form" action="/register" method="POST">
    <% if( typeof registerMsg != "undefined") { %>
        <% if(registerMsg.length > 0) { %>
            <span><%= registerMsg %></span>
        <% } %>
    <% } %>
    <input type="number" name="nua" placeholder="NUA" autocomplete="off" autofocus required>
    <input type="text" name="first_name" placeholder="Nombre" autocomplete="off" required minlength=3>
    <input type="text" name="last_name" placeholder="Apellido" autocomplete="off" required minlength=3>
    <input type="email" name="email" placeholder="E-mail" autocomplete="off">
    <select name="career">
        <option value="Artes digitales">Artes digitales</option>
        <option value="Ingeniería en comunicaciones y electrónica">Ingeniería en comunicaciones y electrónica</option>
        <option value="Ingeniería eléctrica">Ingeniería eléctrica</option>
        <option value="Gestión empresarial">Gestión empresarial</option>
        <option value="Ingeniería en mecatrónica">Ingeniería en mecatrónica</option>
        <option value="Ingeniería en sistemas computacionales">Ingeniería en sistemas computacionales</option>
        <option value="Doctorado/Maestría">Doctorado/Maestría</option>
        <option value="Otro">Otro</option>
    </select>
    <select name="day" class="day" id="day">
    </select>
    <select name="hour" class="hour" style="visibility:hidden;" disabled>
    </select>
    <span>Puedes agregar un modal para que el usuario valide sus datos de nuevo para que este bien seguro de lo que introdujo</span>
    <button>Registrar</button>
</form>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios = window.axios;
    const daySelect = document.getElementsByClassName('day')[0];
    const hourSelect = document.getElementsByClassName('hour')[0];
    //Load days
    window.onload = async () => {
        daySelect.innerHTML = '<option value="0">Cargando días...</option>';
        const response = await axios.get(`${window.origin}/days`);
        daySelect.innerHTML = '<option value="0">Seleccione un día...</option>';
        Object.entries(response.data).forEach(day => {
            daySelect.insertAdjacentHTML('beforeend', `<option value="${day[0]}">${day[0]}</option>`)
        });
    }
    //Load hours
    daySelect.addEventListener("change", async () => {
        if (daySelect.value !== '0') {
            hourSelect.style.visibility = "visible";
            hourSelect.innerHTML = '<option value="0">Cargando horarios...</option>';
            const response = await axios.get(`${window.origin}/hours`);
            hourSelect.innerHTML = '<option value="0">Seleccione un horario...</option>';
            Object.entries(response.data)[daySelect.selectedIndex - 1][1].forEach(hour => {
                hourSelect.insertAdjacentHTML('beforeend', `<option value="${hour}">${hour}</option>`)
            });
            hourSelect.disabled = false;
        } else {
            hourSelect.style.visibility = "hidden";
            hourSelect.disabled = true;
        }
    });
</script>
</html>