<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <meta name="description" content="Registro para los donadores de sangre.">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
        <div class="container">
                <div class="row">
                    <div class="col-md-10 offset=md-1">
                        <div class="row">
                            <div class="col-md-5 register-left">
                                <img src="ugto.png" class="centerImage">
                                <h3>Donadores de Sangre</h3>
                                <p><b>Desarrolladores:</b></p>
                                <ul>
                                    <li>Oscar Montes Camberos</li>
                                    <li>Jorge Octavio Prieto Razo</li>
                                    <li>Diego Padilla Quijas</li>
                                </ul>
                            </div>
                            <div class="col-md-7 register-right">
                                <div>
                                        <form class="register-form" action="/register" method="POST">
                                            <% if( typeof registerMsg != "undefined") { %>
                                                <% if(registerMsg.length > 0) { %>
                                                    <span><%= registerMsg %></span>
                                                <% } %>
                                            <% } %>
                                            <div class="form-group">
                                                    <input type="number" class="form-control" name="nua" placeholder="NUA" maxlength="6" autocomplete="off" autofocus required >
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Nombre(s)" name="first_name" autocomplete="off" required minlength=3>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Apellidos" name="last_name" autocomplete="off" required minlength=3>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Correo Electrónico" name="email" autocomplete="off">
                                                </div>
                                                <div class="form-group">
                                                    <select name="career" class="custom-select custom-select-sm">
                                                        <option selected>Licenciatura...</option>
                                                        <option value="Artes digitales">Artes Digitales</option>
                                                        <option value="Gestión empresarial">Gestión Empresarial</option>
                                                        <option value="Ingeniería en comunicaciones y electrónica">Ingeniería en Comunicaciones y Electrónica</option>
                                                        <option value="Ingeniería eléctrica">Ingeniería Eléctrica</option>
                                                        <option value="Ingeniería en mecatrónica">Ingeniería en Mecatrónica</option>
                                                        <option value="Ingeniería en sistemas computacionales">Ingeniería en Sistemas Computacionales</option>
                                                        <option value="Doctorado/Maestría">Maestría / Doctorado</option>
                                                        <option value="Otro">Otro</option>
                                                      </select>
                                                </div>
                                                <div class="form-group">
                                                    <select name="day" class="day" id="day">
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select name="hour" class="hour" style="visibility:hidden;" disabled>
                                                    </select>
                                                </div>
                                                <button type="submit" value=" Send" class="btn btn-primary">Registrarse</button>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    axios = window.axios;
    const daySelect = document.getElementsByClassName('day')[0];
    const hourSelect = document.getElementsByClassName('hour')[0];
    //Load days
    window.onload = async () => {
        daySelect.innerHTML = '<option value="0">Cargando días...</option>';
        const response = await axios.get(`${window.origin}/days`);
        daySelect.innerHTML = '<option value="0">Seleccione un día...</option>';
        Object.entries(response.data).forEach(day => {
            daySelect.insertAdjacentHTML('beforeend', `<option value="${day[0]}">${day[0]}</option>`)
        });
    }
    //Load hours
    daySelect.addEventListener("change", async () => {
        if (daySelect.value !== '0') {
            hourSelect.style.visibility = "visible";
            hourSelect.innerHTML = '<option value="0">Cargando horarios...</option>';
            const response = await axios.get(`${window.origin}/hours`);
            hourSelect.innerHTML = '<option value="0">Seleccione un horario...</option>';
            Object.entries(response.data)[daySelect.selectedIndex - 1][1].forEach(hour => {
                hourSelect.insertAdjacentHTML('beforeend', `<option value="${hour}">${hour}</option>`)
            });
            hourSelect.disabled = false;
        } else {
            hourSelect.style.visibility = "hidden";
            hourSelect.disabled = true;
        }
    });
</script>
</html>