html, body {
    animation: move 5s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(to right, #FF5722 20%, #FF9800 80%);
    background-size: 400% 400%;
    margin-top: 20px !important;
}
@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}
.register-left{
    color: #fff;
    padding: 10px;
}
.register-left img{
    width: 300px;
    display: block;
    margin: 117px auto 18px;
}
.register-left p{
    padding: 20px 20px 0;
}

.register-right{
    border: none;
    background: #f8f8f8;
    border-radius: 20px;
}

.register-right h2{
    text-align: center;
    margin-bottom: 20px;
    color: #555;
    letter-spacing: 1px;
}
.title-form {
    padding: 50px 25px 10px 25px;
}
.register-form {
    padding: 0 13px 10px 13px;
}

.register-right .btn-primary{
    letter-spacing: 1px;
    border-radius: 1.5rem;
    border: none;
    width: 270px;
    background: #ff9800;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
}

.register-right .btn-primary:hover{
    background: #ff5722;
}

h2 {
    margin-top: 30px;
}
h3 , p{
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
}

li{
    text-align: justify;
    text-justify: inter-word;
}

.centerText{
    text-align: center;
}

.centerText a {
    margin-bottom: 30px;
}

a:link,
a:visited {
    color: #ff7f50;
    text-decoration: none;
    border-bottom: 1px solid #ff7f50;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}